.App {
  background-color: #282c34;
  color: white;
  font-size: 18px;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 2rem;
  margin: auto;
  width: 66%;
}

.bill {
  align-items: center;
  display: flex;
  justify-content: stretch;
  margin: 0.5rem;
  padding: 0.5rem;
}

.bill.budget {
  color: gold;
}

.bill:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}

.textmode__field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.textmode__label {
  font-family: monospace;
  font-size: 1rem;
}

.textmode__switch {
}

.bill__title {
  flex: 1;
  text-align: left;
}

.bill__price {
  flex: 1;
  text-align: center;
}

.bill__link {
  flex: 1;
  text-align: right;
}

.bill__link a,
.bill__link a:visited {
  color: white;
}

.bill__link a:hover {
  color: cyan;
}

.bill__textfield {
  border: none;
  display: block;
  font-size: 18px;
  margin: 0.5rem;
  padding: 0.25rem;
  width: 100%;
}
